/* CSS Document */
figure#error{background: #000 none repeat scroll 0% 0%;color: #FFF;text-align: center;margin: auto;padding-top: 5%;}
figure#error p,figure#error figcaption{margin-top:1%;font-family:cursive;}
figure#error figcaption{margin: auto;width: 50%;}
figure#error p{font-weight:bold;font-size:1.3em;text-shadow: 0px 0px 5px;}
figure#error img{width: 100%;max-width: 800px;}
